<h1 class="mt10">Questions of {{quizTitle}}</h1>
<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="mt10 text-center mb-5">
        <button (click)="onAddQuizQuestion()" color="primary" mat-raised-button size="medium">Add Question</button>
      </div>

      <mat-card *ngFor=" let q of questions; let i = index">
        <mat-card-content>
          <p>
            <b>Q {{i + 1}})</b>
            <span>{{q?.content}}</span>
          </p>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>1). </b>{{q?.option1}}</p>
              </div>
              <div class="col-md-6">
                <p><b>2). </b>{{q?.option2}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p><b>3). </b>{{q?.option3}}</p>
              </div>
              <div class="col-md-6">
                <p><b>4).</b>{{q?.option4}}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt10">
              <b>Correct Answer:</b> {{q?.answer}}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
