<h1 class="mt10 text-center">Add Question on  {{quizTitle}}</h1>
<mat-card class="text-center">
  <mat-card-content>
    <div class="row col-md-6 offset-1">
    <mat-form-field  appearance="outline" class="width w100">
      <mat-label>Content</mat-label>
      <input name="content" autofocus matInput type="text" placeholder="Enter content !">
    </mat-form-field>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Option1</mat-label>
          <input name="option1" autofocus matInput type="text" placeholder="Enter option1 !">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Option2</mat-label>
          <input  name="option2" autofocus matInput type="text" placeholder="Enter option2 !">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Option3</mat-label>
          <input name="option3" autofocus matInput type="text" placeholder="Enter option3 !">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Option4</mat-label>
          <input name="option4" autofocus matInput type="text" placeholder="Enter option4 !">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class=" width w100">
        <mat-label>Answer</mat-label>
        <input name="answer" autofocus matInput type="text" placeholder="Enter answer !">
      </mat-form-field>

<!--      <mat-form-field appearance="outline" class=" width w100">-->
<!--        <mat-label>Image</mat-label>-->
<!--        <input name="image" autofocus    type="file" placeholder="Upload image!">-->
<!--      </mat-form-field>-->
    </div>
    <mat-divider></mat-divider>
    <div class="mt10 text-center">
      <button mat-raised-button color="accent">Submit</button>
    </div>
  </mat-card-content>
</mat-card>
